body {
    font-family: sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 100%;
    max-width: 50px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #de00bd;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #670058;
}

#gameBoard {
    font-size: 24px;
    margin-bottom: 20px;
}


#feedback {
    font-size: 18px;
    margin-top: 10px;
}

#attemptsLeft {
    font-size: 16px;
    margin-top: 10px;
}
